<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" *ngIf="!isLoading" #loginForm="ngForm">
      <mat-form-field class="example-full-width">

        <input
        matInput
        type="email"
        name="email"
        placeholder="Enter Email"
        ngModel
        #emailInput="ngModel"
        required
        email
        >
        <mat-error *ngIf="emailInput.invalid">Enter Valid Email</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput
        rows="1"
        placeholder="Enter Password"
        name="password"
        type="password"
        ngModel
        #passwordInput=ngModel
        required
        >
        <mat-error *ngIf="passwordInput.invalid">Enter Valid Password</mat-error>
      </mat-form-field>
      <button
      mat-raised-button
      color="primary"
      type="submit" *ngIf="!isLoading">Login</button>
    </form>
  </mat-card>

